@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

h1,
p {
  color: rgb(236, 234, 234);
}

.component_title {
  font-size: 70px;
  text-align: center;
}

.bg_img {
  background-image: url("../bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.box_shodow {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.name {
  text-shadow: -16px 6px 14px rgba(0, 0, 0, 0.746);
}
.job_title {
  text-shadow: -16px 6px 14px rgba(0, 0, 0, 0.465);
}
.about_card {
  /* background: linear-gradient(71deg, #000000, #1a171c, #010110); */
  background: rgba(0, 0, 0, 0.207);
  background-clip: padding-box;
  border-radius: 20px;
  padding: 30px 10px;
  border-left: transparent;
  border-right: transparent;
}
.about_card h1 {
  text-align: center;
  font-weight: 600;
}
.about_card p {
  text-align: center;
  margin-top: 5px;
}

.intro_card {
  /* background: linear-gradient(71deg, #000000, #1a171c, #010110); */
  background: rgba(0, 0, 0, 0.207);
  background-clip: padding-box;
  border-radius: 20px;
  padding: 15px 15px;
  border-top: transparent;
  border-bottom: transparent;
}

.project {
  border-radius: 50%;
}
.btn {
  background: rgba(255, 255, 255, 0.076);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.btn:hover {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.256);
  background: #000;
}
.mca_card:hover {
  box-shadow: 0px 0px 150px 1px #03cd795f;
}
.bsc_card:hover {
  box-shadow: 0px 0px 150px 1px #ffff0043;
}
.isc_card:hover {
  box-shadow: 0px 0px 150px 1px #ffffff49;
}
.matric_card:hover {
  box-shadow: 0px 0px 150px 1px #ff1f9345;
}
.skills {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project_info{
  background: linear-gradient(to right, #000428, #004e92);
}
.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar_hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
